<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasswordManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PasswordManager.Properties.Settings>
      <setting name="JsonFileSavePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ConfirmModalOnLock" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConfirmModalOnOverwrite" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowOnlyNamesOnShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowRandomCharsOnDecryptFail" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ForegroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="BackgroundColorDark" serializeAs="String">
        <value>30, 30, 30</value>
      </setting>
      <setting name="BackgroundColorLight" serializeAs="String">
        <value>40, 40, 40</value>
      </setting>
      <setting name="GenerateAndCopyPassword" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoClearClipboard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoClearClipboardSeconds" serializeAs="String">
        <value>3</value>
      </setting>
    </PasswordManager.Properties.Settings>
  </userSettings>
</configuration>